{% extends 'base.html.twig' %}

{% block title %}Confirmation{% endblock %}

{% block body %}
<div class="flex flex-wrap justify-center content-center p-10" style="min-height: 50vh;">
    <div class="w-full max-w-lg">

        <h1 class="text-3xl font-bold text-slate-950 mb-2">Confirmation</h1>

        <p>Un email de confirmation a été envoyé.</p>

    </div>
</div>

{% endblock %}
