{# templates/vinamap/wineregionslist.html.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}
	Appellations
{% endblock %}
{% block body %}
	<div {{ svelte_component('DataManagement/Appellations') }}></div>
{% endblock %}
