{# templates/vinamap/wineregionslist.html.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}
	Wine regions
{% endblock %}
{% block body %}
	<div {{ svelte_component('DataManagement/GrapeVarietys') }}></div>
{% endblock %}
