{# templates/lucky/number.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}
	Acceuil
{% endblock %}
{% block body %}
	<div {{ svelte_component('Number', { 'number': number, 'perso': perso } ) }}></div>
{% endblock %}
