{# templates/lucky/number.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}
	Acceuil
{% endblock %}
{% block body %}
	<div {{ svelte_component('Number', { 'number': number, 'perso': perso } ) }}></div>
    <div>
    <h2 class="text-3xl font-bold underline">TEST test</h2>
    </div>
{% endblock %}
