/* assets/styles/app.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --night: #0b0b1b;
    --blue: cornflowerblue;
    
    --text-color: #ccc;

    --sms-padding: 0.75rem;

    --sms-bg: #e5e7eb;
    --sms-active-bg: white;
    --sms-active-color: rgba(255, 255, 255, 0.1);

    --sms-border: none;
    --sms-focus-border: 1pt solid #6b7280;

    --sms-selected-bg: #374151;
    --sms-selected-text-color: #f8fafc;

    --sms-options-bg: #f8fafc;

    --sms-text-color: #374151;

    --sms-li-active-bg: #f1f5f9;

    --sms-li-selected-bg: #374151;
    --sms-li-selected-color: #f8fafc;

    --sms-disabled-bg: rgba(7, 1, 34, 0.87);
    --sms-li-disabled-bg: black;

    --sms-placeholder-color: #9ca3af;

}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    overflow-x: hidden;
}